.loginBox{
    display: block;
}
.login{
    text-align: center;
    background: rgb(255, 228, 234);
    min-height: 550px;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.08),
    0 1px 1px rgba(0, 0, 0, 0.16);
    width: 100%;
    padding: 10px 0 0 0 ;
}
.login input{
    border-radius: 6px;
    margin-top: 8px;
    border: 1px solid rgba(0,0,0,.32);
    border-radius: 4px;
    height: 15px;
    padding: 5px;
    margin-bottom: 5px;
}
.aboutUs{
    color:  rgb(158, 158, 158);
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    vertical-align: bottom;
    cursor: pointer;
    margin-top: 10px;
}
.padding{
    padding: 30px 200px 30px 200px;
}
